$base: 1rem;
$ratio: 1.618;

body {
	font-size: 100%;
	line-height: 1.6;
	color: $dark;
	font-family: "ff-tisa-web-pro";
}


h1, h2, h3, h4, h5, h6 {
color: $medium;
line-height: 1.3;
margin-bottom: $base/3;
}
h1{
font-size: (($ratio)*2)*($base);
letter-spacing: -.05em;
}
h2 {
color: $dark;
font-size: (($ratio)*1.5)*($base);
font-weight: 900;
}
h3{
font-size: (($ratio)*.9)*($base);
}
h4 {
color: $dark;
font-size: (($ratio)*.55)*($base);
font-weight: 900;
}

p, ul {
font-size: (($ratio)*.7)*($base);
margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
	max-width: 600px;
}

strong {
	font-weight: 700;
}
a, a:visited {
	color: $medium;
}
a:hover, a:active  {
	color: $callout;
}


header {
	a, a:visited {
	color: $dark;
	text-decoration: none;
	}
	a:hover, a:active  {
		color: $callout;
	}
	h3 {
		color: $dark;
	}
	ul {
		font-size: .95em;
	}
}

footer {
	font-size: .75em;
}

.wrapper li {
	margin-left: 25px;
}